{% load static %}

<!DOCTYPE html>

<html lang="en" style="font-family: Roboto, Arial, sans-serif; height: 100%;color:#404040;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="margin: 0; padding: 0; height: 100%;">
    <div id="react-root" style="height:100%;">

    </div>
    <div id="modal-root"></div>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>